In [1]:
from sklearn import svm
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
pose = pd.read_csv('dataset/multiclass.csv')

In [3]:
pose

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,31,32,33,34,35,36,Activity
0,409.416667,614.673913,429.486111,763.043478,349.208333,734.782609,317.097222,678.260870,333.152778,346.195652,...,1066.847826,385.333333,600.543478,433.500000,593.478261,365.263889,628.804348,473.638889,628.804348,0
1,327.111111,145.793478,379.259259,218.690217,350.814815,214.402174,251.259259,214.402174,184.888889,175.809783,...,381.635870,502.518518,381.635870,341.333333,137.217391,341.333333,137.217391,369.777778,154.369565,3
2,326.388889,191.576087,337.962963,248.641304,293.981481,269.021739,293.981481,269.021739,293.981481,269.021739,...,342.391304,312.500000,183.423913,333.333333,175.271739,300.925926,195.652174,351.851852,179.347826,3
3,2056.888889,278.608696,1839.333333,541.739130,1878.888889,541.739130,1483.333333,727.478261,1720.666667,990.608696,...,2461.043478,2017.333333,247.652174,2017.333333,247.652174,1898.666667,263.130435,1720.666667,386.956522,2
4,288.972222,98.043478,323.305556,124.782609,309.000000,129.239130,300.416667,158.206522,303.277778,149.293478,...,222.826087,286.111111,91.358696,294.694444,91.358696,294.694444,91.358696,317.583333,91.358696,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,233.796296,187.500000,231.481482,224.184783,201.388889,216.032609,182.870370,277.173913,196.759259,330.163044,...,436.141304,224.537037,175.271739,243.055556,179.347826,212.962963,179.347826,259.259259,183.423913,3
156,281.481481,94.728261,281.481481,128.559783,251.851852,130.815217,240.000000,169.157609,245.925926,157.880435,...,299.972826,272.592593,87.961957,287.407407,87.961957,260.740741,90.217391,296.296296,87.961957,2
157,421.458333,141.304348,441.527778,275.543478,349.208333,268.478261,280.972222,388.586956,280.972222,388.586956,...,1095.108696,405.402778,120.108696,445.541667,113.043478,381.319444,141.304348,485.680556,134.239130,2
158,836.574074,230.619565,848.611111,282.391304,770.370370,277.684783,746.296296,400.054348,800.462963,442.413043,...,696.565217,818.518518,211.793478,854.629630,211.793478,794.444444,211.793478,890.740741,207.086956,0
159,193.407407,97.391304,196.861111,146.086956,157.143518,146.086956,141.601852,222.173913,126.060185,286.086956,...,496.086957,186.500000,91.304348,202.041667,88.260870,174.412037,91.304348,215.856482,91.304348,1

In [4]:
print(f'Numbers of row/examples and column in dataset: {pose.shape}')

Numbers of row/examples and column in dataset: (160, 37)

In [5]:
# summary of information on the dataset
pose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 37 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   1         160 non-null    float64
 1   2         160 non-null    float64
 2   3         160 non-null    float64
 3   4         160 non-null    float64
 4   5         160 non-null    float64
 5   6         160 non-null    float64
 6   7         160 non-null    float64
 7   8         160 non-null    float64
 8   9         160 non-null    float64
 9   10        160 non-null    float64
 10  11        160 non-null    float64
 11  12        160 non-null    float64
 12  13        160 non-null    float64
 13  14        160 non-null    float64
 14  15        160 non-null    float64
 15  16        160 non-null    float64
 16  17        160 non-null    float64
 17  18        160 non-null    float64
 18  19        160 non-null    float64
 19  20        160 non-null    float64
 20  21        160 non-null    float64
 21  22        160 non-null    float64
 22  23        160 non-null    float64
 23  24        160 non-null    float64
 24  25        160 non-null    float64
 25  26        160 non-null    float64
 26  27        160 non-null    float64
 27  28        160 non-null    float64
 28  29        160 non-null    float64
 29  30        160 non-null    float64
 30  31        160 non-null    float64
 31  32        160 non-null    float64
 32  33        160 non-null    float64
 33  34        160 non-null    float64
 34  35        160 non-null    float64
 35  36        160 non-null    float64
 36  Activity  160 non-null    int64
dtypes: float64(36), int64(1)
memory usage: 46.4 KB

### Cleaning the data

In [6]:
print("Display NA values in each columns: ")
pose.isna().sum(axis=0)

Display NA values in each columns:

1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
30          0
31          0
32          0
33          0
34          0
35          0
36          0
Activity    0
dtype: int64

In [7]:
print("Dispaly Null Values in each columns: ")
pose.isnull().sum()

Dispaly Null Values in each columns:

1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
30          0
31          0
32          0
33          0
34          0
35          0
36          0
Activity    0
dtype: int64

In [8]:
pose = pose.dropna()

In [9]:
# shuffle the data row-wise
pose = pose.sample(frac=1)

In [10]:
pose

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,31,32,33,34,35,36,Activity
95,162.500000,69.565217,156.481482,125.217391,115.856482,119.652174,111.342593,183.652174,173.032407,180.869565,...,453.565217,154.976852,61.217391,170.023148,64.000000,141.435185,66.782609,180.555556,69.565217,1
79,457.055556,155.434783,437.009259,275.543478,328.759259,275.543478,268.620370,452.173913,300.694444,586.413043,...,1172.826087,437.009259,127.173913,477.101852,127.173913,396.916667,127.173913,505.166667,134.239130,1
17,371.657407,319.565217,326.333333,417.391304,262.879630,397.826087,240.217593,508.695652,330.865741,410.869565,...,815.217391,362.592593,306.521739,389.787037,313.043478,339.930556,313.043478,398.851852,339.130435,3
21,400.925926,197.826087,412.953704,339.130435,308.712963,346.195652,304.703704,501.630435,360.833333,466.304348,...,1130.434783,380.879630,176.630435,420.972222,169.565217,352.814815,190.760870,453.046296,176.630435,1
145,373.333333,166.820652,413.333333,262.146739,306.666667,257.380435,250.000000,343.173913,250.000000,500.461957,...,500.461957,370.000000,138.222826,406.666667,152.521739,406.666667,152.521739,456.666667,176.353261,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,327.111111,145.793478,379.259259,218.690217,350.814815,214.402174,251.259259,214.402174,184.888889,175.809783,...,381.635870,502.518518,381.635870,341.333333,137.217391,341.333333,137.217391,369.777778,154.369565,3
92,850.000000,286.956522,791.666667,378.260870,708.333333,371.739130,583.333333,410.869565,566.666667,521.739130,...,854.347826,833.333333,267.391304,858.333333,267.391304,775.000000,273.913044,775.000000,273.913044,2
40,606.222222,174.206522,596.750000,226.097826,558.861111,229.804348,563.597222,281.695652,563.597222,281.695652,...,578.217391,596.750000,163.086956,615.694444,163.086956,577.805556,166.793478,629.902778,166.793478,2
76,131.111111,44.130435,124.555556,63.043478,116.907407,65.565217,98.333333,73.130435,88.500000,75.652174,...,92.043478,127.833333,42.869565,127.833333,42.869565,119.092593,49.173913,119.092593,49.173913,3
141,586.680556,234.782609,538.712963,300.000000,487.055556,273.913044,435.398148,306.521739,435.398148,306.521739,...,997.826087,571.921296,215.217391,601.439815,208.695652,542.402778,221.739130,542.402778,221.739130,3

### Split the data into train/test splits

In [11]:
#split the data into 60% train and 40% test (later will divide the test to test and validate)
train_dataset, temp_test_dataset = train_test_split(pose, test_size=0.4)

In [12]:
print(train_dataset.shape)
print(temp_test_dataset.shape)

(96, 37)
(64, 37)

In [13]:
# split the test_dataset dataframe to 50% test and 50% validate. 
# (this will divide the dataset into 60% train, 20% validate and 20% test )
test_dataset, valid_dataset = train_test_split(temp_test_dataset, test_size=0.5)
print(test_dataset.shape)
print(valid_dataset.shape)

(32, 37)
(32, 37)

In [14]:
print(f"Display the datatype of the test_dataset: {type(test_dataset)}")
print(f"Train dataset    : {train_dataset.shape}")
print(f"Test dataset     : {test_dataset.shape}")
print(f"Validate dataset : {valid_dataset.shape}")

Display the datatype of the test_dataset: <class 'pandas.core.frame.DataFrame'>
Train dataset    : (96, 37)
Test dataset     : (32, 37)
Validate dataset : (32, 37)

In [15]:
train_labels = train_dataset.pop('Activity')
test_labels = test_dataset.pop('Activity')
valid_labels = valid_dataset.pop('Activity')


### SVM Classifier

In [18]:
#create a svm classifier
model = svm.SVC(C=1, kernel="linear")

#Train the model using the training sets
model.fit(train_dataset, train_labels)

#predict the response for test dataset
y_pred = model.predict(test_dataset)

In [20]:
example_batch = test_dataset[:10]
example_result = model.predict(example_batch)
print('predicted value: ')
example_result

predicted value:

array([1, 3, 1, 1, 2, 3, 2, 1, 1, 2], dtype=int64)

### See how the training went

In [22]:
from sklearn import metrics
y_pred = model.predict(train_dataset)
print("Activity: ",metrics.accuracy_score(train_labels, y_pred))

Activity:  1.0

In [23]:
y_pred = model.predict(valid_dataset)
print("Activity: ",metrics.accuracy_score(valid_labels, y_pred))

Activity:  0.625

In [24]:
y_pred = model.predict(test_dataset)
print("Activity: ",metrics.accuracy_score(test_labels, y_pred))

Activity:  0.65625

In [2]:
from sklearn.metrics import confusion_matrix

ax = plt.subplot()
predict_results = model.predict(test_dataset)

cm = confusion_matrix(predict_results, predict_results)
sns.heatmap(cm, annot=True, ax = ax);

ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels');
ax.set_title('Confusion Matrix');

NameError: name 'plt' is not defined